
<div class="row">
  <button class=" lime darken-3 waves-effect waves-light btn-large left-align "><a class="white-text" href="/addbook">Add New Books Here</a></button>
   <button class="lime darken-3 waves-effect waves-light btn-large center-align "><a class="white-text" href="/book">See Books Here </a></button>
   <button class="lime darken-3 waves-effect waves-light btn-large right-align "><a class="white-text" href="/author">See Authors Here</a></button>
</div>
{{#each book}}
<ul>
 <div class="container">
  <div class="row">
   <div class="col l12 m8">
    <div class="card horizontal">
     <div class="card-image">
       <img src="{{this.cover_url}}">
       </div>
      <div class="card-stacked">
       <div class="card-content">
         <h4>{{this.title}}</h4>
         <h5>{{this.first_name}}</h5>
         <h6>{{this.genre}}</h6>
         <p>{{this.description}}</p>
       </div>
      <a href="/bookview/{{this.id}}">view book</a>
       <div class="card-action">
          <form action="/bookview/{{id}}">
              <button class=" lime darken-3 waves-effect waves-light btn left" type="submit">Delete</button>
              </form>
              <div class="row">
              <div class="col s4">
            <a href="/editbook/{{this.id}}"><button class="lime darken-3 waves-effect waves-light btn" type="submit">Edit</button></a>
          </form>
        </div>
       </div>
      </div>
    </div>
   </div>
 </div>
 </ul>
{{/each}}
