<!-- </div>
<ul>
 <div class="container">
  <div class="row">
   <div class="col l12 m8">
    <div class="card horizontal">
     <div class="card-image">
       <img src="{{book.cover_url}}">
       </div>
      <div class="card-stacked">
       <div class="card-content">
         <h4>{{book.title}}</h4>
         <h5>{{book.first_name}}</h5>
         <h6>{{book.genre}}</h6>
         <p>{{book.description}}</p>
       </div>
       <div class="card-action">
          <form action="/book/{{id}}?_method=delete" method="post" method="post">
              <button class=" lime darken-3 waves-effect waves-light btn left" type="submit">Delete</button>
              </form>
              <div class="row">
              <div class="col s4">
            <a href="/editbook/{{id}}"><button class="lime darken-3 waves-effect waves-light btn" type="submit">Edit</button></a>
          </form>
        </div>
       </div>
      </div>
    </div>
   </div>
  </div>
 </ul> -->
